/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Breakpoints
        ========================================================================== */
        $breakpoint         : 768px;  // Breakpoint for small devices (Phones and Tablets)
        $breakpoint-medium  : 992px;  // Breakpoint for medium devices (Desktops)
        $breakpoint-large   : 1200px; // Breakpoint for large devices (Desktops)

